* {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.486) 0%,
    hsla(218, 100%, 5%, 0.514) 100%
  );
  font-family: "Montserrat", sans-serif;
}
.err-box {
  background: linear-gradient(
    to top,
    rgba(2, 0, 37, 0.486) 0%,
    hsla(0, 0%, 0%, 0.514) 100%
  );
  padding: 1em;
  max-width: 100em;
  width: 50vw;
}
.message {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
}
.svg {
  width: 30%;
  margin: 1em;
  color: white;
}
.console {
  background-color: #0e1628;
  color: #fff;
  font-family: monospace;
  padding: 1em;
  margin: 1em;
}
a {
  color: white;
}
.reloj {
  position: absolute;
  color: white;
  font-size: 25px;
}
#hora {
  top: 5px;
  left: 10px;
}
#fecha {
  top: 28px;
  left: 10px;
}
