<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Error 404</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/404.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <p class="reloj" id="fecha"></p>
    <p class="reloj" id="hora"></p>
    <div class="err-box">
      <div class="message">
        <div class="svg">
          <img
            src="{{ url_for('static', filename='src/404.svg') }}"
            alt="404"
          />
        </div>
        <div class="info-box">
          <h1>No encontrado</h1>
          <h2><a href="/">Regresar al inicio</a></h2>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
